{% load static %}
<nav class="navbar navbar-landing fixed-top navbar-expand-lg  navbar-dark bg-primary p-0">
    <a class="navbar-brand" href="#">
        <span class="text-light font-weight-bold"><img src="{% static 'imagenes/logo.png' %}"
                width="18px">edical</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active ">
                <a class="btn btn-primary " data-toggle="tooltip" data-placement="bottom" title=""
                    data-original-title="Menu Principal" href="{% url 'inicio' %}"> Inicio<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class=" btn btn-flat-info btn-small" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="Administracion de Entidades" href="/admin"><span
                        class="text-white">Administracion</span></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-flat-info btn-small" data-toggle="tooltip" data-placement="bottom" title=""
                    data-original-title="Atencion de Pacientes" href="{% url 'base:paciente' %}"><span
                        class="text-white">
                        Atencion</span></a>
            </li>

            <li class="nav-item">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown ">
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title=""
                        data-original-title="Reportes Gerenciales">Agenda</button>
                    <div class="btn-group show" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                        <div class="dropdown-menu " aria-labelledby="btnGroupDrop1"
                            style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"
                            x-placement="bottom-start">
                            <a class="dropdown-item" href="{% url 'base:horario' %}">Horarios</a>
                            <a class="dropdown-item" href="{% url 'base:doctor' %}">Doctor</a>
                            <a class="dropdown-item" href="{% url 'base:cita' %}">Citas</a>
                            <a class="dropdown-item" href="{% url 'base:signoVital' %}">Signo Vitales</a>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class=" btn btn-flat-info btn-small" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Usuario" href="#"><span
                class="text-white">Usuario: {{ user.username }}</span></a>
                        
            </li>
            
            <li class="nav-item">
                <a class=" btn btn-flat-info btn-small" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="Cierre de sesion" href="{% url 'logout' %}"><span
                        class="text-white">Cerrar Sesión</span></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- menu vertical Sidenav -->